<div class="tit">
    <p style="text-align: center; line-height: 2;" align="center"><span
            style="font-size: 18pt;">"</span><b><span
                style="font-size: 18pt; color: rgb(68, 106, 153);">가족센터</span></b><span
            style="font-size: 18pt;">에서 함께 만들어요"</span></p>
    <p style="text-align: center; line-height: 1;" align="center"><br></p>
    <span>
        <div style="text-align: center; line-height: 1.8;"><span style="font-size: 14pt;">가족센터는
                성평등가족부가 시행하는 가족정책의 주요 전달 체계로서</span></div>
        <div style="text-align: center; line-height: 1.8;"><span style="font-size: 14pt;">다양한
                가족지원 서비스를 제공하는 기관입니다.</span></div>
        <div style="text-align: center; line-height: 1.8;"><span
                style="font-size: 11pt;"><br></span></div>
    </span>
</div>
<div class="img">
    <div style="text-align: center;" align="center"><img
            src="https://familynet.or.kr/upload/editor/76e9b1b4-db78-499b-97ee-38f7b1ad5156.png"
            alt="가족센터 로고"></div><br>

    <h4>사업소개</h4>
    <div>
        <table border="0" cellpadding="0" cellspacing="0"
            style="border:0px dashed #c7c7c7; border-left:0; border-bottom:0;"
            attr_no_border_tbl="0" class="__se_tbl">
            <tbody>
                <tr>
                    <td style="border-width: 0px; border-bottom-style: dashed; border-left-style: dashed; border-bottom-color: rgb(199, 199, 199); border-left-color: rgb(199, 199, 199); border-image: initial; border-top-style: initial; border-top-color: initial; border-right-style: initial; border-right-color: initial; width: 171px; height: 165px; background-color: rgb(255, 255, 255);"
                        class="">
                        <p style="line-height: 1.5;"> </p>
                        <p><img src="https://familynet.or.kr/images/sub/business_intro01.png"
                                alt="가정에서 아이와 함께 책을 읽거나 놀이 활동을 하는 따뜻한 장면"></p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                    </td>
                    <td style="border-width: 0px; border-bottom-style: dashed; border-left-style: dashed; border-bottom-color: rgb(199, 199, 199); border-left-color: rgb(199, 199, 199); border-image: initial; border-top-style: initial; border-top-color: initial; border-right-style: initial; border-right-color: initial; width: 800px; height: 165px; background-color: rgb(255, 255, 255);"
                        class="">
                        <p><br></p>
                        <p style="line-height: 1.5;"><span
                                style="color: rgb(40, 110, 123); font-size: 12pt;"><b>가족센터사업</b></span>
                        </p>
                        <p><br></p>
                        <p style="line-height: 1.8;"><span
                                style="color: rgb(68, 68, 68); font-family: NS; font-size: 12pt; letter-spacing: -0.9px; background-color: rgb(255, 255, 255);">가족서비스
                                수행기관에서는 가족 내에서 발생하는 문제를 예방함과 동시에 가족 관계향상, 의사 소통방법, 역할지원 등 가족
                                구성원의 역량을 강화시키기 위한 부모, 부부, 조부모, 자녀 등 가족을 대상으로 한 생애주기별 다양한 교육과
                                프로그램을 운영하고 있습니다.</span><br></p>
                        <p style="line-height: 1;"><span
                                style="color: rgb(68, 68, 68); font-family: NS; font-size: 12pt; letter-spacing: -0.9px; background-color: rgb(255, 255, 255);"><br></span>
                        </p>
                        <p><span
                                style="color: rgb(68, 68, 68); font-family: NS; font-size: 20px; letter-spacing: -0.9px; background-color: rgb(245, 245, 245);"></span>
                        </p>
                        <table border="1" cellpadding="0" cellspacing="0"
                            style="border:1px dashed #c7c7c7; border-left:0; border-bottom:0;"
                            attr_no_border_tbl="1" class="__se_tbl">
                            <tbody>
                                <tr>
                                    <td style="border-width: 0px 0px 1px 1px; border-bottom-style: dashed; border-left-style: dashed; border-bottom-color: rgb(199, 199, 199); border-left-color: rgb(199, 199, 199); border-image: initial; border-top-style: initial; border-top-color: initial; border-right-style: initial; border-right-color: initial; width: 799px; height: 72px; background-color: rgb(235, 235, 235);"
                                        class="">
                                        <p style="line-height: 2;"><span
                                                style="background-color: rgb(235, 235, 235); color: rgb(68, 68, 68); font-family: NS; font-size: 12pt; letter-spacing: -0.9px;">가족센터
                                                사업으로는 생애주기별 맞춤형 부모교육, 이중언어 교육지원, 다문화자녀 성장지원,
                                                온가족보듬사업, </span></p>
                                        <p style="line-height: 2;"><span
                                                style="background-color: rgb(235, 235, 235); color: rgb(68, 68, 68); font-family: NS; font-size: 12pt; letter-spacing: -0.9px;">결혼이민자
                                                취업지원, 다문화가족 자녀 지원 사업(기초학습지원, 진로설계지원, 저소득 다문화가족
                                                자녀 교육활동비), 가족봉사단, 가족사랑의 날 등이 운영되고 있습니다.</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p><span
                                style="color: rgb(68, 68, 68); font-family: NS; font-size: 20px; letter-spacing: -0.9px; background-color: rgb(245, 245, 245);"><br></span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="border-width: 0px 0px 0px 0px; border-bottom-style: dashed; border-left-style: dashed; border-bottom-color: rgb(199, 199, 199); border-left-color: rgb(199, 199, 199); border-image: initial; border-top-style: initial; border-top-color: initial; border-right-style: initial; border-right-color: initial; width: 171px; height: 18px; background-color: rgb(255, 255, 255);"
                        class="">
                        <p> </p>
                        <p><img src="https://familynet.or.kr/images/sub/business_intro02.png"
                                alt="가정에서 아이와 함께 책을 읽거나 놀이 활동을 하는 따뜻한 장면"></p>
                        <p><br></p>
                        <p><br></p>
                    </td>
                    <td style="border-width: 0px 0px 0px 0px; border-bottom-style: dashed; border-left-style: dashed; border-bottom-color: rgb(199, 199, 199); border-left-color: rgb(199, 199, 199); border-image: initial; border-top-style: initial; border-top-color: initial; border-right-style: initial; border-right-color: initial; width: 800px; height: 18px; background-color: rgb(255, 255, 255);"
                        class="">
                        <p style="line-height: 1.5;"><br></p>
                        <p style="line-height: 1.5;"><span
                                style="font-size: 12pt; color: rgb(40, 110, 123);"><b>가족상담</b></span>
                        </p>
                        <p
                            style="margin-bottom: 12px; font-size: 20px; font-family: NS; letter-spacing: -0.045em; color: rgb(68, 68, 68); line-height: 1.5;">
                            <span
                                style="font-size: 12pt; background-color: rgb(255, 255, 255);">사회가
                                급변하고 복잡해지면서 가족원간의 갈등, 불화 문제 등을 경험할 가능성이 많아지고 있어 이를 슬기롭게 극복하여 가족이
                                성장하는데 도움을 주기 위한 가족 상담을 운영합니다.</span>
                        </p>
                        <table border="1" cellpadding="0" cellspacing="0"
                            style="border:1px dashed #c7c7c7; border-left:0; border-bottom:0;"
                            attr_no_border_tbl="1" class="__se_tbl">
                            <tbody>
                                <tr>
                                    <td style="border-width: 0px 0px 1px 1px; border-bottom-style: dashed; border-left-style: dashed; border-bottom-color: rgb(199, 199, 199); border-left-color: rgb(199, 199, 199); border-image: initial; border-top-style: initial; border-top-color: initial; border-right-style: initial; border-right-color: initial; width: 798px; height: 90px; background-color: rgb(235, 235, 235);"
                                        class="">
                                        <p style="line-height: 2;"><span
                                                style="font-family: NS; color: rgb(68, 68, 68);"><span
                                                    style="font-size: 16px; letter-spacing: -0.9px;">가족센터에서는
                                                    부부상담, 부모자녀상담, 다문화가족상담, 한부모가족상담 등 가족 내외적 갈등
                                                    해결 및 관계
                                                    향상을 위한 상담 서비스를 전문적이고 지속적으로 제공하고 있습니다. 또한,
                                                    비대면 시대에 발맞추어 온라인 및 전화상담도 함께 진행하고
                                                    있습니다.</span></span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p><span
                                style="color: rgb(68, 68, 68); font-family: NS; font-size: 20px; letter-spacing: -0.9px; background-color: rgb(245, 245, 245);"><br></span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="border-width: 0px 0px 0px 0px; border-bottom-style: dashed; border-left-style: dashed; border-bottom-color: rgb(199, 199, 199); border-left-color: rgb(199, 199, 199); border-image: initial; border-top-style: initial; border-top-color: initial; border-right-style: initial; border-right-color: initial; width: 171px; height: 18px; background-color: rgb(255, 255, 255);"
                        class="">
                        <p> </p>
                        <p><img src="https://familynet.or.kr/images/sub/business_intro03.png"
                                alt="가정에서 아이와 함께 책을 읽거나 놀이 활동을 하는 따뜻한 장면"></p>
                        <p><br></p>
                        <p><br></p>
                    </td>
                    <td style="border-width: 0px 0px 0px 0px; border-bottom-style: dashed; border-left-style: dashed; border-bottom-color: rgb(199, 199, 199); border-left-color: rgb(199, 199, 199); border-image: initial; border-top-style: initial; border-top-color: initial; border-right-style: initial; border-right-color: initial; width: 800px; height: 18px; background-color: rgb(255, 255, 255);"
                        class="">
                        <p style="line-height: 1.5;"><br></p>
                        <p style="line-height: 1.5;"><span
                                style="font-size: 12pt; color: rgb(40, 110, 123);"><b>아이돌봄
                                    서비스</b></span>
                        </p>
                        <p
                            style="margin-bottom: 12px; font-size: 20px; font-family: NS; letter-spacing: -0.045em; color: rgb(68, 68, 68); line-height: 1.5;">
                            <span
                                style="font-size: 12pt; background-color: rgb(255, 255, 255);">양육공백이
                                발생하는 가정에 아이돌보미가 찾아가서 아동을 안전하게 돌봐주는 서비스로, 부모의 양육부담을 덜어주고 시설보육의
                                사각지대를 해소하기 위해 마련된 정부지원 서비스입니다.</span>
                        </p>
                        <table border="1" cellpadding="0" cellspacing="0"
                            style="border:1px dashed #c7c7c7; border-left:0; border-bottom:0;"
                            attr_no_border_tbl="1" class="__se_tbl">
                            <tbody>
                                <tr>
                                    <td style="border-width: 0px 0px 1px 1px; border-bottom-style: dashed; border-left-style: dashed; border-bottom-color: rgb(199, 199, 199); border-left-color: rgb(199, 199, 199); border-image: initial; border-top-style: initial; border-top-color: initial; border-right-style: initial; border-right-color: initial; width: 798px; height: 90px; background-color: rgb(235, 235, 235);"
                                        class="">
                                        <p style="line-height: 2;"><span
                                                style="font-family: NS; color: rgb(68, 68, 68);"><span
                                                    style="font-size: 16px; letter-spacing: -0.9px;">부모의
                                                    출장, 야근 또는 아동의 질병 등으로 발생하는 일시적인 양육공백에 따른
                                                    돌봄수요에 탄력적으로 대응하여 시설보육의 사각지대를 보완하고, 자녀의 안전과
                                                    건강한 양육을 위해 1:1 개별보육을 선호하는 취업부모에게 가정 내 12세 이하
                                                    아동을 대상으로 돌봄서비스를 제공하고 있습니다.</span></span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <p><br></p>
                        </div><span class="link" style="font-size: 12pt;">홈페이지 : <a
                                href="https://idolbom.go.kr/" target="_self"><span
                                    style="font-size: 12pt; color: rgb(58, 50, 195);">https://idolbom.go.kr/</span></a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="business_intro">
        <ul>
            <li><br></li>
        </ul>
    </div>

    <h4>참여대상 및 방법</h4>
    <div class="bi_box">
        <p class="tit"><span style="font-size: 14.6667px;">가족센터 홈페이지에서 <b>각 센터별 프로그램 일정</b>을
                확인하세요.</span></p>
        <p class="tit"><span style="font-size: 14.6667px;">문의 : 전국 대표전화 <span
                    style="color: rgb(13, 81, 76);"><b>1577-9337</b></span></span></p>
        <p><span style="font-size: 11pt;">
            </span><span style="font-size: 11pt;">이용자께서 거주하는 지역의 가족센터에서 각 프로그램의 일정을 확인한 후 사전에
                예약하시면 참여할 수 있습니다.</span><span style="font-size: 11pt;">
            </span><span style="font-size: 11pt;">각 센터별로 프로그램 진행 일정이 다르니 꼭 가까운 센터로 문의하세요.
                전국대표전화(1577-9337)를 이용하시면 이용자분의 위치와 가장 가까운 가족센터로 연결됩니다. 또한 이 홈페이지를 통해 가까운 센터의
                프로그램을 직접확인해 볼 수 있습니다.</span></p>
    </div>
</div>

<!-- 만족도조사 / 페이지담당자 -->

<div class="eval_sec">
    <form id="satisfactionFrm" name="satisfactionFrm" action="/satifaction/estimate.do"
        method="post">
        <input type="hidden" name="_csrf" value="17e3269e-d5eb-4759-a3d0-63e184540a98" />
        <div class="eval_txt">
            <p><strong>만족도</strong> 현재 페이지에 대하여 얼마나 만족하십니까?</p>
        </div>
        <div class="gtb">
            <input type="hidden" name="cms_menu_seq" value="337" />
            <ul>
                <li><input type="radio" id="well" name="score" value="5" /><label
                        for="well">매우만족</label> </li>
                <li><input type="radio" id="satisfactorily" name="score" value="4" /><label
                        for="satisfactorily">만족</label></li>
                <li><input type="radio" id="normal" name="score" value="3" /><label
                        for="normal">보통</label></li>
                <li><input type="radio" id="dissatisfaction" name="score" value="2" /><label
                        for="dissatisfaction">불만족</label></li>
                <li><input type="radio" id="veryunsatisfactory" name="score" value="1" /><label
                        for="veryunsatisfactory">매우불만족</label></li>
                <li><input type="radio" id="etc_chk" name="score" value="0" /><label
                        for="etc_chk">기타의견</label></li>
            </ul>
            <a href="javascript:estimate()"><span>평가하기</span></a>
        </div>
        <div class="eval_insert" id="eval_insert">
            <textarea id="eval_etc_text" name="etc" placeholder="기타의견을 작성해주세요"
                title="기타의견 작성"></textarea>
            <span><input type="submit" value="의견제출" /></span>
        </div>
    </form>
</div>
