<div id="footer"><!-- 설정된게 없는경우 기본 화면 -->
    <div class="f_wrap clearfix">
        <div class="family_site_wrap">
            <div class="family_site_inner">
                <div class="f_utill">
                    <div class="familySite">
                        <a class="btn_family" href="javascript:void(0);" title="패밀리 사이트 목록 열기">패밀리 사이트</a>
                        <div class="familyList-wrap">
                            <ul class="familyList" style="display: none;">
                                <li><a href="http://www.kihf.or.kr" target="_blank" title="새창열림">한국건강가정진흥원</a></li>
                                <li><a href="http://www.liveinkorea.kr" target="_blank" title="새창열림">다누리</a></li>
                                <li><a href="https://danurischool.kr" target="_blank" title="새창열림">다누리배움터</a></li>
                                <li><a href="http://idolbom.go.kr" target="_blank" title="새창열림">아이돌봄 지원사업</a></li>
                                <li><a href="http://www.ffsb.kr" target="_blank" title="새창열림">가족친화인증</a></li>
                                <li><a href="http://www.mogef.go.kr" target="_blank" title="새창열림">성평등가족부</a></li>
                                <li><a href="http://women.na.go.kr" target="_blank" title="새창열림">성평등가족위원회</a></li>
                                <li><a href="http://www.kwdi.re.kr" target="_blank" title="새창열림">한국여성정책연구원</a></li>
                                <li><a href="http://www.nypi.re.kr" target="_blank" title="새창열림">한국청소년정책연구원</a></li>
                                <li><a href="http://central.childcare.go.kr" target="_blank" title="새창열림">중앙육아지원종합센터</a></li>
                                <li><a href="http://www.parents.go.kr" target="_blank" title="새창열림">전국학부모지원센터</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <div class="footer_bottom_inner">
                <div class="f_logo"><img src="https://www.familynet.or.kr/images/footer/footer_logo.svg" alt="한국건강가정진흥원" /></div>
                <div class="f_menu">
                    <div class="f_txt">
                        <p>[04554]&nbsp; 서울시 중구 퇴계로 173(충무로3가, 남산스퀘어) 21층 한국건강가정진흥원</p>
                        <p><b>대표전화</b>&nbsp; 02-3479-7600 (평일 09시~18시)</p>
                    </div>
                    <div class="cert-copy">
                        <ul>
                            <li><a href="/web/lay1/S1T6C393/sublink.do"><b>개인정보처리방침</b></a></li>
                            <li><a href="/web/lay1/S1T6C394/contents.do">이메일무단수집거부</a></li>
                            <li><a href="/web/lay1/S1T6C440/contents.do">공공저작물 저작권 관리 및 이용 지침</a></li>
                            <li><a href="/web/lay1/program/S1T6C7/sitemap/intro.do">사이트맵</a></li>
                        </ul>
                        <p>© KOREA INSTITUTE FOR HEALTHY FAMILY. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.familynet.or.kr/lib/js/pgwbrowser.js" async="async"></script>
<script type="text/javascript" src="https://www.familynet.or.kr/lib/js/mc.analytics.js" async="async"></script>

<div id="naviMenu">
    <div>
        <div class="mob-navi-top">
            <div class="navi-login">
                <div class="close_area">
                    <button class="close_btn"><img src="https://www.familynet.or.kr/images/header/icon_mob_close.svg" alt="닫기"></button>
                </div>
                <a href="/web/lay4/program/S1T2C4/member/login.do" class="mob-login">
                    <img src="https://www.familynet.or.kr/images/header/icon_mob_login.svg" alt="로그인" />
                    <span>로그인을 해주세요</span>
                </a>
            </div>
            <ul class="mob-member">
                <li class="mob-home">
                    <a href="https://www.kihf.or.kr/web/index.do">
                        <img src="https://www.familynet.or.kr/images/header/icon_family_home.svg" alt="홈" />한국건강가정진흥원
                    </a>
                </li>
                <li class="mob-join-mypage">
                    <a href="/web/lay4/program/S1T2C4/member/join_step1.do">
                        <img src="https://www.familynet.or.kr/images/header/icon_mob_join.svg">회원가입
                    </a>
                </li>
            </ul>
        </div>

        <ul class="menuCtg_ mob-menuCtg">
            <li class="menu_1" child-type="1" menu-seq="296"> 
                <div class="t_a_line">
                    <a href="/web/lay1/S1T1C296/sublink.do" class="mnTit">사업소개 </a>
                    <span class="arrow"></span>
                </div> 
                <ul class="side_sub"> 
                    <li class="" child-type="1" menu-seq="297"> <a href="/web/lay1/S1T296C297/contents.do">법적근거 / 사업체계 </a> </li> 
                    <li class="" child-type="" menu-seq="339"> <a href="/web/lay1/S1T296C339/contents.do">사업영역 </a> </li> 
                    <li class="" child-type="" menu-seq="337"> <a href="/web/lay1/S1T296C337/contents.do">가족센터 사업 소개 </a> </li> 
                    <li class="" child-type="2" menu-seq="424"> <a href="/web/lay1/S1T296C424/sublink.do">건강가정사 </a> </li>   
                </ul>
            </li> 
            <li class="menu_2" child-type="1" menu-seq="307"> 
                <div class="t_a_line">
                    <a href="/web/lay1/program/S1T1C307/info/view.do" class="mnTit">지역센터 안내 </a>
                    <span class="arrow"></span>
                </div> 
                <ul class="side_sub"> 
                    <li class="link" child-type="1" menu-seq="433"> <a href="/web/lay1/program/S1T1C307/info/view.do">내 주변 센터찾기 </a> </li> 
                    <li class="" child-type="1" menu-seq="416"> <a href="/web/lay1/bbs/S1T299C416/A/15/list.do">채용공고 </a> </li>
                </ul>
            </li> 
            <li class="menu_3" child-type="1" menu-seq="304"> 
                <div class="t_a_line">
                    <a href="/web/lay1/S1T1C304/sublink.do" class="mnTit">참여마당 </a>
                    <span class="arrow"></span>
                </div> 
                <ul class="side_sub"> 
                    <li class="" child-type="1" menu-seq="450"> <a href="/web/lay1/program/S1T304C450/recruitReceipt/list.do">프로그램신청 </a> </li> 
                    <li class="" child-type="1" menu-seq="379"> <a href="/web/lay1/bbs/S1T304C379/G/10/list.do">온라인상담실 </a> </li> 
                    <li class="" child-type="1" menu-seq="423"> <a href="/web/lay1/program/S1T304C423/receipt/list.do">센터홍보실 </a> </li>  
                </ul>
            </li> 
            <li class="menu_4" child-type="1" menu-seq="299"> 
                <div class="t_a_line">
                    <a href="/web/lay1/S1T1C299/sublink.do" class="mnTit">알림마당 </a>
                    <span class="arrow"></span>
                </div> 
                <ul class="side_sub"> 
                    <li class="" child-type="1" menu-seq="302"> <a href="/web/lay1/bbs/S1T299C302/A/1/list.do">가족센터 소식 </a> </li> 
                    <li class="" child-type="1" menu-seq="300"> <a href="/web/lay1/bbs/S1T299C300/A/3/list.do">진흥원 소식 </a> </li> 
                    <li class="" child-type="1" menu-seq="301"> <a href="/web/lay1/bbs/S1T299C301/A/4/list.do">타기관 소식 </a> </li> 
                    <li class="" child-type="1" menu-seq="303"> <a href="/web/lay1/bbs/S1T299C303/E/2/list.do">자주 묻는 질문 </a> </li>
                </ul>
            </li> 
            <li class="menu_5" child-type="1" menu-seq="431"> 
                <div class="t_a_line">
                    <a href="/web/lay1/S1T1C431/sublink.do" class="mnTit">가족교육 </a>
                    <span class="arrow"></span>
                </div> 
                <ul class="side_sub">  
                    <li class="" child-type="1" menu-seq="456"> <a href="/web/lay1/S1T431C456/contents.do">가족교육 안내 </a> </li>  
                </ul>
            </li>
        </ul>

        <div class="mob-navi-bottom">
            <ul class="mob-sns">
                <li><a href="#">네이버 블로그</a></li>
                <li><a href="#">페이스북</a></li>
                <li><a href="#">인스타그램</a></li>
                <li><a href="#">유투브</a></li>
            </ul>
        </div>
        <p class="closeArea"><a class="close" title="메뉴 닫기">메뉴 닫기</a></p>
    </div>
</div>
</div>
