<head>
    <meta name="_csrf_parameter" content="_csrf" /><meta name="_csrf_header" content="X-CSRF-TOKEN" /><meta name="_csrf" content="220fa0fe-448f-4044-b8fd-96d97aa1855d" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="SiteID" content="1"/>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.familynet.or.kr/images/common/favicon.ico">
    <title>가족센터</title>
    <meta name="naver-site-verification" content="eb4aabd5a1d8b12bfb0900b89d03c12bd4130c28"/>
    <meta name="description" content="가족상담 및 교육, 문화 프로그램 실시 등 안내">
    <link rel="stylesheet" href="https://www.familynet.or.kr/lib/css/import.css" type="text/css" />
    {% if page_css %}
    <link rel="stylesheet" href="https://www.familynet.or.kr/{{ page_css }}" type="text/css" />
    {% else %}
    <link rel="stylesheet" href="https://www.familynet.or.kr/lib/css/main.css" type="text/css" />
    <link rel="stylesheet" href="https://www.familynet.or.kr/lib/css/main_new.css" type="text/css" />
    {% endif %}
    <!-- 한가원 고도화 (2022-02-11) 
    <link rel="stylesheet" href="https://www.familynet.or.kr/lib/css/new.css" type="text/css"> -->

    <link rel="stylesheet" href="https://www.familynet.or.kr/lib/css/jquery.bxslider.css" type="text/css" />
    <script type="text/javascript" src="https://www.familynet.or.kr/lib/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://www.familynet.or.kr/lib/js/jquery-migrate-1.4.1.min.js" defer></script>
    <script type="text/javascript" src="https://www.familynet.or.kr/lib/js/jquery-ui-1.12.1.min.js" defer></script>
    <script type="text/javascript" src="https://www.familynet.or.kr/lib/js/jquery.cookie.js" defer></script>
    <script type="text/javascript" src="https://www.familynet.or.kr/lib/js/jquery.bxslider.js" defer></script>
    <script type="text/javascript" src="https://www.familynet.or.kr/lib/js/common.js" defer></script>
    <script type="text/javascript" src="https://www.familynet.or.kr/lib/js/lnb.js" defer></script>
    <script type="text/javascript" src="https://www.familynet.or.kr/lib/js/main.js" defer></script>
    <script type="text/javascript" src="https://www.familynet.or.kr/lib/js/mc.js" defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173347735-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-173347735-1');
    </script>

    <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">
        if(!wcs_add) var wcs_add = {};
        wcs_add["wa"] = "77ea6930add954";
        if(window.wcs) {
            wcs_do();
        }
    </script>
    <meta name="naver-site-verification" content="9b98af6176e515f7e413991ff9d1c064f04f6272" />
</head>
