<div id="left_menu">
    <h2>주요사업</h2>
    <ul>
        <li class="" menu-seq="297"> <a href="/web/lay1/S1T296C297/contents.do"> <span>법적근거 / 사업 주체별
                    역할</span> </a> </li>
        <li class="" menu-seq="337"> <a href="/web/lay1/S1T296C337/contents.do" class="on"> <span>가족센터
                    사업 소개</span> </a> </li>
        <li class="" menu-seq="339"> <a href="/web/lay1/S1T296C339/contents.do"> <span>사업운영 및
                    사업영역</span> </a> </li>
        <li class="" menu-seq="424"> <a href="/web/lay1/S1T296C424/sublink.do"> <span>건강가정사</span> </a>
        </li>
    </ul>
    <div class="left_counseling">
        <div class="call">
            <h6>전화상담</h6>
            <p>1577-9337</p>
            <span>언제나 고객님들께 친절히<br />상담해드리겠습니다.</span>
        </div>
        <div class="online">
            <a href="/web/lay1/bbs/S1T304C379/G/10/list.do">
                <h6>online상담</h6>
                <!-- 한가원 고도화 (2022-02-15) -->
                <span>가족센터에서는<br />고객의 목소리에<br />귀 기울이겠습니다.</span>
            </a>
        </div>
    </div>
</div>