<!DOCTYPE HTML>
<html lang="ko">
{% set page_css = 'lib/css/sub.css' %}
{% include "templates/head.html" %}

<body>
    <div class="wrap">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <div id="backPage"
            style="width:100%; height:100%; background-color : rgba(0,0,0, .5); position:fixed; z-index:999; display:none">
            <div id="frontPage"
                style="position:relative; top:200px; margin:auto; width:27%; background:white; height:25%; z-index:1000;">
                <div class="login_insert clearfix">
                    <p
                        style="text-align: center; padding-top: 20px; color: #555; font-size: 24px; font-family: 'NS'; letter-spacing: -0.045em;">
                        비밀번호를 입력해주세요.</p>
                    <div style="margin-top: 30px; margin-left: 40px;">
                        <div class="input">
                            <input type="password" id="myPage_pw" placeholder="비밀번호" title="비밀번호"
                                onkeypress="capLock(event)" autocomplete="off"
                                style="padding: 13px; width: 88%; border: 1px solid #d5d5d5; color: #666; font-size: 13px; font-family: 'NBG'; box-sizing: border-box; line-height: 16px;">
                        </div>
                        <div style="margin-top: 40px; margin-left: 100px;">
                            <a href="#" id="check_btn" value="확인" onClick="myPageIntercept();" style="background: #666; float: left; text-align: center; padding: 13px 0; 
                            margin-left: 8px; width: calc(30% - 4px); 
                            color: white;">확인</a>
                            &nbsp;
                            <a href="#" id="backPage_close" value="닫기" style="background: #666; float: left; text-align: center; padding: 13px 0; margin-left: 8px; 
                            width: calc(30% - 4px); 
                            color: white;">닫기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "templates/header.html" %}

        <div class="contents_wrap">
            <div class="contents">
                {% include "templates/left_menu.html" %}

                <div id="dynamic-sub-content">
                    <!-- 동적으로 서브 콘텐츠 html 파일 로드 -->
                </div>
            </div>
        </div>

        <script type="text/javascript" src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
        <script type="text/javascript">
            Kakao.init("07b9e3a431515bf7ae7e206a72edacf5");

            $(function () {
                // url hash 파싱해서 동적으로 서브 콘텐츠 주입
                function loadSubPage() {
                    var page = window.location.search ? decodeURIComponent(window.location.search.substring(1)) : "";
                    if (!page) {
                        page = "contents_1"; // 기본값
                    }

                    // 파일명에 이상한 경로가 섞이지 않도록 정규식 필터링
                    page = page.replace(/[^a-zA-Z0-9_가-힣-]/g, "");

                    axios.get("./sub/" + page + ".html")
                        .then(function (res) {
                            if (res.data.indexOf("<!DOCTYPE") !== -1 || res.data.indexOf("<html") !== -1) {
                                throw new Error("Page not found");
                            }
                            var $temp = $("<div>").html(res.data);
                            var $sub = $temp.find("#sub");
                            if (!$sub.length) {
                                throw new Error("Page not found");
                            }

                            var $target = $("#sub").length ? $("#sub") : $("#dynamic-sub-content");
                            $target.replaceWith($sub);
                        })
                        .catch(function (err) {
                            var $target = $("#sub").length ? $("#sub") : $("#dynamic-sub-content");
                            $target.replaceWith("<div id='dynamic-sub-content'><p style='padding:50px 0; text-align:center; font-size: 13px; color: #999;'>빈파일입니다</p></div>");
                        });
                }

                // 초기 로드
                loadSubPage();

                // 팝오버 및 만족도 조사 등의 이벤트 바인딩
                $(document).on("click", ".etc_share", function () {
                    $(this).toggleClass('open');
                    $('.etc_list').toggleClass('open').slideToggle(300);
                    if ($(this).hasClass("open") === true) {
                        $(this).attr("title", "페이지 공유 사이트 목록 닫기");
                    } else {
                        $(this).attr("title", "페이지 공유 사이트 목록 열기");
                    }
                });

                $(document).on("submit", "#satisfactionFrm", function (e) {
                    e.preventDefault();
                    if (!$("[name='score']").is(":checked")) {
                        alert("만족도를 선택하여 주시기 바랍니다.");
                        $("[name='score']").eq(0).focus();
                        return false;
                    }
                    $.post($(this).prop("action"), $(this).serializeObject(), function (data) {
                        if (data.rst == "-1") {
                            alert(data.msg);
                        } else {
                            alert("정상적으로 등록되었습니다. 참여해주셔서 감사합니다.");
                            $(".s_avg").text(data.data.average);
                            $(".s_cnt").text(data.data.cnt);
                            $("textarea[name='etc']").val('');
                        }
                    });
                    return false;
                });
            });

            function estimate() {
                $("#satisfactionFrm").submit();
            }
        </script>
        {% include "templates/footer.html" %}
    </div>
</body>

</html>